* {
    align-items: center;
}
body {
    background-color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
/* Header + Nav */
Header{
    border: solid;
}

header h1 {
    border: solid;
    justify-content: center;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 100px;
    font-weight: bold;
    text-decoration: underline rgba(27, 2, 117, 0.842);
}
header nav{
    background: tomato;
}
header nav ul {
    font-size: 50px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px 10px;
    align-items: flex-start;
    border: solid;
}
head nav ul li {
    border: solid;
}


/* AboutMe */
#AboutMe {
    font-size: 30px;
    padding: 20px ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    border: solid;
    flex: 2 1 400px;
    background-color: cornflowerblue;
}
#AboutMe img {
    z-index: 0;
    width: auto;
    height: auto;
    border: solid;
    border-radius:50%;
    width: auto;
    max-width: 100%;
}
#AboutMe div{
    height: auto;
    width: auto;
    
}
.links a {
    border: solid red;
}

#AboutMe div {
    border: 10px solid;
    
}

/* Projects*/
#Work{
    border: solid teal;
    width: auto;
    max-width: 100%;
    background-color: honeydew;
}

#Work h2 {
    font-size: 75px;
    font-style: italic;
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid;
    max-width: 100%;
}
.flexone {
    border: solid gray;
}
.flexone img {
    width:fit-content;
    height: fit-content;
}
.flex-two{
    border:gold solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: fit-content;
    max-width: fit-content;
}

#Work img {
    opacity: 50%;
}
#Work img:hover {
    opacity: 100%;
    
}
.flex-two img {
    border: solid red;
    width: 50%;
    height: 50%;
    align-self: flex-end;
    max-height: fit-content;
    max-width: fit-content;
}

#Reach-Out {
    border: solid;
    background-color: hotpink;
}

/* Footer */
footer {
    border: solid black;
    background-color: brown;
}


